.highlight {
  position: absolute;
}

.emoji {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 28px;
}

.parts {
  opacity: 1;
}

.part {
  border: none;
  cursor: pointer;
  position: absolute;
  background: rgba(255, 226, 143, 1);
  padding: 0;
  transition: background 0.3s;
}

.scrolledTo .part {
  background: #ff4141;
}
